<!Doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Sports Store</title>
        <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet"/>
    </head>
    <body>
        <div>
            <div>
                <div>
                    <h1>Welcome to Sports Store</h1>
                    <div>
                        <vc:cart-summary />
                    </div>
                </div>
            </div>
            <div>
                <h3>Categories</h3>
                <vc:navigation-menu></vc:navigation-menu>
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
    </body>
</html>